<%= render "shared/page_title", title: "Login With Your Credentials" %>

<%= form_for(:sessions, :html => {class: "form-horizontal", role:"form"}, url: login_path) do |f| %>

  <div class="form-group">
    <label for="exampleFormControlTextarea1"<%= f.label :email %></label>
    <%= f.email_field :email, class: "form-control", placeholder: "Enter Your Email"%>
  </div>
  <div class="form-group">
    <label for="exampleFormControlpassword"<%= f.label :password %></label>
    <%= f.password_field :password, class: "form-control", placeholder: "Enter Your password"%>
  </div>
  <div class="form-group">
    <%= f.submit "Login In", class:"btn btn-primary" %>
  </div>

<% end %>

<div class="col-md-4 col-md-offset-4">
  [ <%= link_to "Dont Have Account Sign up", signup_path %> ]
</div>

