<%= render "shared/page_title", title: "Hello Chefs" %>

<div align="center">
  <%= will_paginate @chef %>
  <% @chefs.each do |chef| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-12 col-offset-12">
          <li>
            <%= link_to gravatar(chef), chef_path(chef)%>
          </li>
          <li class="chef-title">
            <%= link_to chef.name.capitalize, chef_path(chef)  %>
          </li>
          <li>
            <small><%= pluralize(chef.recipes.count,"recipe") if chef.recipes %></small>
          </li>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate @chef %>
</div>