<%= render "shared/page_title", title: "Chef #{@chef.name} Profile" %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar(@chef,{size:120}) %>
  </div>
</div>

<h4 align="center"><%= @chef.name %>'s recipes</h4>
<div align="center">
  <%= will_paginate @chef_recipes %>
</div>
<%= render "recipes/recipes", obj: @chef_recipes %>
<div align="center">
  <%= will_paginate @chef_recipes %>
</div>

