<% obj.each do |r| %>
  <div class="row">
    <div class="col-md-2">
      <section class=" chef-info center">

        <%= gravatar(r.chef,{size:120})%>
      </section>
    </div>
    <div class="col-md-8 well">
      <h4><%= link_to r.name, recipe_path(r) %></h4>
      <p>
        <%= truncate(r.description, length: 50) %>
      </p>
      <p>
        <span class="quite"><small>Created <%= time_ago_in_words(r.created_at)%> ago</small></span>
      </p>
      <% if loggedin? && current_chef == r.chef %>
        <div class="recipe-actions">
          <%= link_to "Edit The Recipe", edit_recipe_path, class:"btn btn-xs btn-warning"%>
          <%= link_to "Delete The Recipe", recipe_path(r), method: :delete, data:{ confirm:"Are you certain you want to delete this recipe"}, class:"btn btn-xs btn-danger"%>
        </div>
      <% end%>
    </div>
  </div>
<% end %>