<%= render "shared/page_title", title: "Create Your New Recipe" %>
<hr />

<% if @recipe.errors.any? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h2 class="panel-title">
            <%= pluralize(@recipe.errors.count, "error") %>
            prohibited this <%= @recipe.class %> from being saved
          </h2>
          <div class="panel-body">
            <ul>
              <%= @recipe.errors.full_messages.each do |msg| %>
                <li> <%= msg %> </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-md-12">
  <%= form_for(@recipe, :html => {class: "form-horizontal", role:"form"}) do |f| %>
    <div class="form-group">
      <label for="exampleFormControlInput1">
        <%= f.label :name %>
      </label>
      <%= f.text_field :name, class: "form-control", placeholder: "Recipe Name" , autofocus: true %>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1"<%= f.label :description %></label>
      <%= f.text_area :description, class: "form-control",rows: 10, placeholder: "How to make it?"%>
    </div>
    <div class="form-group">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  <% end %>
    <div class="col-md-4 col-md-offset-4">
       [ <%= link_to "Cancel and Return to Recipe Lists", recipes_path %> ]
    </div>
  </div>
</div>